@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  width: 95%;
  margin: 0 auto;
}
.fontcard__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
}

@media screen and (min-width: 900px) {
  .wrapper {
    width: 80%;
    max-width: 1200px;
  }

  .fontcard__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
    grid-gap: 2rem;
  }
}

@media screen and (min-width: 1100px) {
  .fontcard__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
  }
}
